body.loginBody {
  backdrop-filter: blur(15px);
}

#cadastro a {
  text-decoration: none;
  color: white;
}
#cadastro a:hover {
  color: black;
}

.loginBox {
  width: 500px;
  height: 400px;
  background-color: rgba(0, 0, 0, 0.733);
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.3s;
  border-radius: 50px;
}
.loginBox:hover {
  transform: scale(1.03);
  background-color: rgba(39, 39, 39, 0.733);
}

#inputsLogin {
  min-height: 27vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#inputsLogin #password {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid white;
  outline: none;
  width: 286px;
}

body.loginBody {
  backdrop-filter: blur(15px);
}

#login a {
  text-decoration: none;
  color: white;
}
#login a:hover {
  color: black;
}

#username {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid white;
  outline: none;
  width: 205px;
}

#Cpassword {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid white;
  outline: none;
  width: 188px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/background1920.png");
}

@media (max-width: 1120px) {
  body {
    background-image: url("../images/background/background1440");
  }
  body.loginBody {
    background-image: url("../images/background/background1440");
  }
}
@media (max-width: 780px) {
  body {
    background-image: url("../images/background/background780");
  }
  body.loginBody {
    background-image: url("../images/background/background780");
  }
}
.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#headerIndex {
  position: static;
  color: white;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.753);
  align-items: center;
  flex-wrap: wrap;
  transition: 0.4s;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#headerIndex:hover {
  background-color: rgba(145, 145, 145, 0.397);
}
#headerIndex .logo {
  transition: 0.3s;
  cursor: pointer;
}
#headerIndex .logo:hover {
  transform: scale(1.2);
}
#headerIndex .logo i {
  color: white;
  text-decoration: none;
}

#buttons {
  width: 200px;
  display: none;
  flex-wrap: wrap;
  position: fixed;
  top: 65px;
  left: 1720px;
  gap: 8px;
  background-color: rgba(0, 0, 0, 0.753);
  transition: 0.2s;
  margin-right: auto;
}
#buttons:hover {
  background-color: rgba(145, 145, 145, 0.397);
}
@media (max-width: 1820px) {
  #buttons {
    left: 1620px;
  }
}
@media (max-width: 1720px) {
  #buttons {
    left: 1520px;
  }
}
@media (max-width: 1620px) {
  #buttons {
    left: 1420px;
  }
}
@media (max-width: 1520px) {
  #buttons {
    left: 1320px;
  }
}
@media (max-width: 1420px) {
  #buttons {
    left: 1220px;
  }
}
@media (max-width: 1320px) {
  #buttons {
    left: 1120px;
  }
}
@media (max-width: 1220px) {
  #buttons {
    left: 1020px;
  }
}
@media (max-width: 1120px) {
  #buttons {
    left: 920px;
  }
}
#buttons #login a {
  text-decoration: none;
  color: white;
}
#buttons #login a:hover {
  color: black;
}
#buttons #cadastro a {
  text-decoration: none;
  color: white;
}
#buttons #cadastro a:hover {
  color: black;
}

#container {
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
}
#container #content {
  background-color: rgba(0, 0, 0, 0.733);
  width: 900px;
  height: 620px;
  display: block;
  border-radius: 50px;
  transition: 0.3s;
}
#container #content:hover {
  transform: scale(1.03);
  background-color: rgba(39, 39, 39, 0.733);
}
#container #content .market1 {
  height: 350px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
}
#container #content #info1 {
  border: 1px solid white;
  border-radius: 10px;
  height: 200px;
  width: 500px;
  transition: 0.2s;
}
#container #content #info1:hover {
  transform: scale(1.03);
}
#container #content .img1 {
  width: 300px;
  height: 250px;
  padding-bottom: 10px;
}
#container #content .market2 {
  height: 350px;
  display: flex;
  justify-content: space-evenly;
  padding: 35px;
}
#container #content #info2 {
  border: 1px solid white;
  border-radius: 10px;
  height: 150px;
  width: 400px;
  transition: 0.2s;
}
#container #content #info2:hover {
  transform: scale(1.03);
}
#container #content .enviar {
  justify-content: end;
}

#inputs {
  height: 400px;
  width: 400px;
  display: block;
}

#basic-Email {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid white;
}

#email {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid white;
  outline: none;
  width: 275px;
}

#basic-Message {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid white;
}

#message {
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 0px;
  border-bottom: 1px solid white;
  outline: none;
  width: 250px;
}

#footerIndex {
  color: white;
  width: 100%;
  height: 65px;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.753);
  align-items: center;
  flex-wrap: wrap;
  transition: 0.4s;
}
#footerIndex:hover {
  background-color: rgba(145, 145, 145, 0.397);
}

/*# sourceMappingURL=style.css.map */
