@import "./login/style.scss";


$background-color: rgba(0, 0, 0, 0.733);
$header-color: rgba(0, 0, 0, 0.753);
$header-color-pointer: rgba(145, 145, 145, 0.397); 
$background-filter: blur(0px);
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url("../images/background1920.png");
    
}

.main{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#headerIndex{
    color: white;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
    background-color: $header-color;
    align-items: center;
    flex-wrap: wrap;
    transition: 0.4s;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    &:hover{
        background-color: $header-color-pointer;
    }

    .logo{
        transition: 0.3s;
        cursor: pointer;
        &:hover{
            transform: scale(1.2);
        }
    }
    .buttons{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 8px;
    }
    #login a{
        text-decoration: none;
        color: white;
        &:hover{
            color:black;
        }
    }
    #cadastro a{
        text-decoration: none;
        color: white;
        &:hover{
            color:black;
        }
    }
}
#container{
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}
#content{
    background-color: $background-color;
    width: 900px;
    height: 620px;
    display: block;
    border-radius: 50px;
    transition: 0.3s;
    &:hover{
        transform: scale(1.03);
        background-color:rgba(39, 39, 39, 0.733);
    }
}
.market1{
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}
#info1{
    border: 1px solid white;
    border-radius: 10px;
    height: 200px;
    width: 500px;
    transition: 0.2s;
    &:hover{
        transform: scale(1.03);
    }
}
.img1{
    width: 300px;
    height: 250px;
    padding-bottom: 10px;
}

.market2{
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    padding: 35px;
}
#info2{
    border: 1px solid white;
    border-radius: 10px;
    height: 150px;
    width: 400px;
    transition: 0.2s;
    &:hover{
        transform: scale(1.03);
    }
}
#inputs{
    height: 400px;
    width: 400px;
    display: block;
}
#basic-Email{
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid white ;
}
#email{
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid white ;
    outline: none;
    width: 275px;

}
#basic-Message{
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid white ;

}
#message{
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid white ;
    outline: none;
    width: 250px;
}

.enviar{
    justify-content: end;
}

#footerIndex{

    color: white;
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: center;
    background-color: $header-color;
    align-items: center;
    flex-wrap: wrap;
    transition: 0.4s;
    &:hover{
        background-color: $header-color-pointer;
    }

}

.logo i{
    color: white;
    text-decoration: none;
}