body.loginBody{
    backdrop-filter: blur(15px);
}

#login a{
    text-decoration: none;
    color: white;
    &:hover{
        color:black;
    }
}
#username{
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid white ;
    outline: none;
    width: 205px;
        @media (max-width: 480px){
            width: 105px;
        }
    }

    #Cpassword{
        background-color: transparent;
        color: white;
        border: none;
        border-radius: 0px;
        border-bottom: 1px solid white ;
        outline: none;
        width: 188px;
            @media (max-width: 480px){
                width: 87px;
            }
    }
