#username{
    background-color: transparent;
    color: white;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid white ;
    outline: none;
    width: 205px;
    }

    #Cpassword{
        background-color: transparent;
        color: white;
        border: none;
        border-radius: 0px;
        border-bottom: 1px solid white ;
        outline: none;
        width: 188px;
    }